<?xml version="1.0" encoding="UTF-8"?>
<configuracion>	
<grupo nombre='SEGU.Entities'>
<entidades>
<entidad nombre='BEPrueba'/>
<entidad nombre='BETipoPrueba'/>
	
</entidades>
<relaciones>
	
<relacion destino='BEPrueba.idtipoprueba' origen='BETipoPrueba.idTipoPrueba'/>
	
</relaciones>
</grupo>
</configuracion>